MVC/Haircute/.vs
MVC/Haircute/packages
MVC/Haircute/HaircuteTests/obj
MVC/Haircute/Haircute/obj
MVC/Haircute/Haircute/bin
MVC/Haircute/Haircute/bin/Haircute.dll
MVC/Haircute/Haircute/bin/Haircute.pdb
