
@{
    ViewBag.Title = "remindpage";
    Layout = "~/Views/Shared/_LayourMember.cshtml";
}

<div style="height:70px"></div>
<div class="container">
    <div class="col-12 text-center" style="margin-top:200px; margin-bottom:380px">
        <h1>請到信箱收取認證信件完成設計師認證</h1>
    </div>
    <a href="/Home/Index">回到首頁</a>
</div>

