
 <!-- ***** register Form Area Start ***** -->
<section class="register-form-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="register-head">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">設計師</li>
                            <li class="breadcrumb-item active" aria-current="page">註冊</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- register Form -->
            <div class="col-md-5">
                <img src="~/img/register.png" class="register-Form-img mb-3">
            </div>

            <div class="col-md-7 ">
                <div class="register-from">
                    <form action="#" method="POST">
                        <div class="row">
                            <div class="col-12">

                                <label class="form-label">E-mail</label>
                                <input type="text" id="email" value maxlength="50" class="form-control" placeholder="請填寫有效的Email">
                                <span id="emailaddress_msg"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">密碼</label>
                                <input type="password" name="" id="userpwd" value maxlength="15" placeholder="請輸入6~15位英數字混合密碼"
                                       class="form-control">
                                <span id="pwd_msg"></span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-4 col-8">
                                <label class="form-label">姓名</label>
                                <input type="text" name="" id="username" value maxlength="20" placeholder="請填寫真實姓名"
                                       class="form-control">
                                <span id="username_msg"></span>
                            </div>
                            <div class="col-md-3 col-4">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                           value="option1">
                                    <label class="form-check-label mt-4" for="inlineRadio1">小姐</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input mt-4" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                           value="option2">
                                    <label class="form-check-label mt-4" for="inlineRadio2">先生</label>
                                </div>
                            </div>
                            <div class="col-md-5 c0l-12">
                                <label class="form-label">暱稱</label>
                                <input type="text" name="" id="usernickname" value maxlength="20" placeholder="顯示在網站上的名稱"
                                       class="form-control">
                                <span id="usernickname_msg"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label class="form-label">生日</label>
                                <input type="text" name="date" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="row">
                            <label class="form-label">地址</label>
                            <div class="col-md-6 col-12">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>縣市</option>
                                    <option value="1">台北市</option>
                                    <option value="2">台中市</option>
                                    <option value="3">高雄市</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-12">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>區域</option>
                                    <option value="1">大安區</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center flex-wrap">
                            <div class="col-md-8 col-12">
                                <label class="form-label">手機號碼</label>
                                <input type="text" name="" id="phonenumber" value maxlength="10" placeholder="請輸入手機號碼進行認證"
                                       class="form-control">
                            </div>
                            <div class="col-12 col-md-4">
                                <button id="receiveVerification" class="btn btn-warning">發送簡訊</button>
                                <span id="phonenumber_msg"></span>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 col-12">
                                <label class="form-label">手機認證碼:</label>
                                <input type="text" name="" id="catchVerification" value maxlength="6" placeholder="請輸入簡訊中的六碼數字"
                                       class="form-control">
                                <span id="catchVerification_msg"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 register-btns">
                                <input type="reset" value="重置資料" class="btn btn-outline-danger">
                                <input type="submit" value="立即註冊" class="btn btn-outline-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        </div>
</section>

