
@{
    ViewBag.Title = "忘記密碼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ***** login Area Start ***** -->
<div class="log-in-area-r col-10 col-md-8">
    <div class="log-in-form">
        <form class="row row-cols-lg-auto justify-content-center mt-5">
            <div class="col-10 mb-3">
                <h3 style="text-align: center;">忘記密碼?</h3>
                <p style="text-align: center;">請輸入您註冊的信箱，將會為您寄送密碼重置信</p>
            </div>
            <div class="col-10 mb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">ID</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                    <input type="text" class="form-control" id="Email" name="Email" placeholder="請輸入信箱">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="button" id="sent" class="btn log-in-btn">寄送密碼</button>
            </div>
        </form>
    </div>
</div>
<!-- ***** login Area End ***** -->
@section PwdReset{
    
    <script>
        $(document).ready(function () {
            
            $("#sent").click(function () { 密碼重製() })
        })

        function 密碼重製()
        {
            var email = $("#Email").val();
            $.post(
                "/Home/ForgotPassword",
                { "Email": email },
                function (data) {
                    console.log(data)
                    if (data == "OK") {
                        swal("請至信箱確認郵件","","success")
                    }
                    else {
                        swal("請重新輸入Email", "", "error")
                    }
                },
                "json"
            )
        }
    </script>

    }
