
<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('../img/banner-img/curve.png');"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                </div>
                <div class="rank"><img src="../img/banner-img/rank1.png" alt=""></div>
                <div class="hair-style-img shadow">
                </div>
                <div class="hair-style-img2 shadow">
                </div>
            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">查理</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 2</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('../img/banner-img/curve.png')"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                </div>
                <div class="rank"><img src="../img/banner-img/rank2.png" alt=""></div>
                <div class="hair-style-img shadow">
                </div>
                <div class="hair-style-img2 shadow">
                </div>
            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">Jack</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 3</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url('../img/banner-img/curve.png'); "></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                </div>
                <div class="rank"><img src="../img/banner-img/rank3.png" alt=""></div>
                <div class="hair-style-img shadow">
                </div>
                <div class="hair-style-img2 shadow">
                </div>
            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">Mike</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 1</a>
            </div>
        </div>

    </div>
</section>
<br>
<br>
<br>
<!-- ***** Welcome Area End ***** -->
<!--Search-->
<section class="hero spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="filter__form d-flex align-items-center">
                    <div class="filter__form__item col-md-3">
                        <p>Location</p>
                        <div class="filter__form__input">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__form__item col-md-3">
                        <p>Date</p>
                        <input type="datetime-local" class="form-control mx-2" name="date" id="date" />
                    </div>
                    <div class="filter__form__item col-md-3">
                        <p>Keywords</p>
                        <input class="form-control me-2" type="search" placeholder="關鍵字搜尋" aria-label="Search" />
                    </div>
                    <div class="filter__form__item col-md-3 mx-5">
                        <div class="form_btn shadow">
                            <a href="search_result.html" role="button">預約搜尋</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Search End-->
<!-- ***** Model Area Start ***** -->
<section class="mona-model-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="model-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                               aria-selected="true">本月推薦</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                               aria-selected="false">剪</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                               aria-selected="false">染</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
                               aria-selected="false">燙</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Mona Tab Content -->
    <div class="mona-tab-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                            <!-- All Model Slide -->
                            <div class="mona-all-model-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/11.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/12.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/13.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/14.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                            <!-- All Model Slide -->
                            <div class="mona-models-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                            <!-- All Model Slide -->
                            <div class="mona-actor-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4">
                            <!-- All Model Slide -->
                            <div class="mona-singer-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Model Area End ***** -->
<!-- ***** Client Feedback Area Start ***** -->
<section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="quote-icon d-flex flex-row justify-content-center align-items-center">
                    <i class="icon_quotations mx-2" aria-hidden="true"></i>
                    <h2>近期評論</h2>
                    <i class="icon_quotations mx-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">

                <div class="slider slider-for">

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Nazrul Islam</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Williams Rodney</h5>
                            <span>2021.10</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Client Thumbnail Area -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="slider slider-nav">
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/8.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Client Feedback Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<section class="mona-blog-area mb-50 section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Hair Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/2.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">How To Save Money On Beauty Products</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Blog Area End ***** -->