<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url(../img/banner-img/curve.png);"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                    <img src="~/img/bg-img/15.jpg" style="height:100%;" />
                </div>
                <div class="hair-style-img shadow">
                    <img src="~/img/banner-img/小短髮2.jpg" style="height:100%;" />
                </div>
                <div class="hair-style-img2 shadow">
                    <img src="~/img/banner-img/歐美 Undercut2.jpg" style="height:100%;" />
                </div>
                <!-- <div class="rank"><img src="img/banner-img/rank1.png" alt=""></div> -->

            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">查理</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 2</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url(../img/banner-img/curve.png);"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                    <img src="~/img/banner-img/store2.jpg" style="height:100%;" />
                </div>
                <!-- <div class="rank"><img src="img/banner-img/rank1.png" alt=""></div> -->
                <div class="hair-style-img shadow">
                    <img src="~/img/banner-img/hair4.jpeg" style="height:100%;" />
                </div>
                <div class="hair-style-img2 shadow">
                    <img src="~/img/banner-img/hair6.jpeg" style="height:100%;" />
                </div>
            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">Jack</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 3</a>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide">
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url(../img/banner-img/curve.png);"></div>
            <!-- Main Background Image -->
            <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms">
                <div class="store-img-container">
                    <img src="~/img/banner-img/store2.jpg" style="height:100%;" />
                </div>
                <!-- <div class="rank"><img src="img/banner-img/rank1.png" alt=""></div> -->
                <div class="hair-style-img shadow">
                    <img src="~/img/banner-img/韓系劉海頭2.jpg" style="height:100%;" />
                </div>
                <div class="hair-style-img2 shadow">
                    <img src="~/img/banner-img/小短髮2.jpg" style="height:100%;" />
                </div>
            </div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="welcome-text">
                            <h2 data-animation="bounceInUp" data-delay="400ms">
                                Sep. <br>
                                預約排行
                            </h2>
                            <h3 data-animation="bounceInUp" data-delay="600ms">Mike</h3>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-map-marker-alt mr-2"></i>高雄市三民區
                            </a><br>
                            <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">
                                <i class="fas fa-angle-double-right mr-2"></i>查看更多髮型設計
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social Info -->
            <div class="social-info">
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>短髮設計</span>
                </a>
                <a href="#" data-animation="bounceInDown" data-delay="1000ms">
                    <i class="fas fa-hashtag mr-2"></i><span>特殊色染髮</span>
                </a>

            </div>
            <!-- Pager -->
            <div class="slide-pager">
                <a href="#">Next > Top 1</a>
            </div>
        </div>

    </div>
</section>
<!-- ***** Welcome Area End ***** -->
<!--Search-->
<span id="search-bar"></span>
<div class="container search-bar">
    <form class="row" method="post" action="/Search/Search">
        <div class="location-dropdown col-md-3 col-sm-10">
            @Html.DropDownList("fCity", (SelectList)ViewBag.SelectList, "-縣市-", new { @class = "form-select col-10", id = "fCity" })
        </div>
        <div class="location-dropdown col-md-3 col-sm-10">
            <select class="form-select col-10" aria-label="Default select example" name="fArea" id="fArea">
                <option>--------</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-10 d-flex flex-md-row pt-1 tag_search_area">
            <div class="col-md-4 col-sm-2 keyword">
                <h4>
                    <span class="badge rounded-pill bg-info px-3 py-2">
                        關鍵字 <i class="fas fa-angle-double-right mx-1 animate__animated animate__slower animate__shakeX animate__infinite"></i>
                        <i class="fas fa-angle-double-down mx-1 animate__animated animate__slower animate__shakeY animate__infinite"></i>
                    </span>
                </h4>
            </div>
            <div class="col-md-8 col-sm-12">
                <select name="test" class="tag_search" multiple>
                    @{
                        foreach (var item in ViewBag.關鍵字)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="align-self-center d-grid gap-2 col-12 col-md-8 mx-auto">
            <input type="submit" name="test" class="btn btn-outline-danger" value="預約搜尋" />
        </div>
    </form>

</div>

<!--Search End-->
<!-- ***** Model Area Start ***** -->
<section class="mona-model-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="model-tab-area">
                    <ul class="nav nav-tabs mb-50" id="mona_modelTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                               aria-selected="true">最新設計</a>
                        </li>
                        <!--<li class="nav-item">
        <a class="nav-link" id="tab2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
           aria-selected="false">剪</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
           aria-selected="false">染</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
           aria-selected="false">燙</a>
    </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Mona Tab Content -->
    <div class="mona-tab-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="mona_modelTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1">
                            <!-- All Model Slide -->
                            <div class="mona-all-model-slide owl-carousel">
                                <!-- Single Model Item -->
                                @{
                                    foreach (var item in ViewBag.圖片)
                                    { <a href="#">
                                        <div class="single-model-item">
                                            <div class="model-thumbnail">
                                                <!-- First Thumbnail -->
                                                <img class="first-thumbnail img-fluid" src="~/Images/@item.photo" alt="">
                                                <!-- Second Thumbnail -->
                                                <img class="second-thumbnail img-fluid" src="~/Images/@item.photo2" alt="">
                                                <!-- Share Info -->
                                            </div>
                                            <div class="model-info">
                                                <h3>@item.DesignerName</h3>
                                                <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                            </div>
                                        </div></a>
                                    }

                                }
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="../img/bg-img/13.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="../img/bg-img/14.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="../img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="../img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                                <!-- Single Model Item -->
                                <!--<div class="single-model-item">
                                    <div class="model-thumbnail">-->
                                <!-- First Thumbnail -->
                                <!--<img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">-->
                                <!-- Second Thumbnail -->
                                <!--<img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">-->
                                <!-- Share Info -->
                                <!--</div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2">
                            <!-- All Model Slide -->
                            <div class="mona-models-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="~/img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="~/img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3">
                            <!-- All Model Slide -->
                            <div class="mona-actor-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4">
                            <!-- All Model Slide -->
                            <div class="mona-singer-slide owl-carousel">
                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>

                                <!-- Single Model Item -->
                                <div class="single-model-item">
                                    <div class="model-thumbnail">
                                        <!-- First Thumbnail -->
                                        <img class="first-thumbnail" src="./img/bg-img/10.jpg" alt="">
                                        <!-- Second Thumbnail -->
                                        <img class="second-thumbnail" src="./img/bg-img/9.jpg" alt="">
                                        <!-- Share Info -->

                                    </div>
                                    <div class="model-info">
                                        <h3>Willie Figueroa</h3>
                                        <h6><i class="fas fa-hashtag"></i>短髮設計</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Model Area End ***** -->
<!-- ***** Client Feedback Area Start ***** -->
<section class="clients-feedback-area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 review-title">
                <div class="quote-icon d-flex flex-row justify-content-center align-items-center mt-0 mb-2">
                    <i class="icon_quotations mx-2" aria-hidden="true"></i>
                    <h2>近期評論</h2>
                    <i class="icon_quotations mx-2" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">

                <div class="slider slider-for">

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Nazrul Islam</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                            <i class="far fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Williams Rodney</h5>
                            <span>2021.10</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                    <!-- Client Feedback Text -->
                    <div class="client-feedback-text text-center">

                        <div class="client-description text-center">
                            <h4>
                                “Success Agency is, hands down, one of the best companies that we have worked with! The company has
                                either met or exceeded all of the goals that we initially set for all of the projects that they
                                implemented for us.”
                            </h4>
                        </div>
                        <div class="ratings text-center">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                        <div class="client-name text-center">
                            <h5>Rodney Williams</h5>
                            <span>2021.09</span>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Client Thumbnail Area -->
            <div class="col-12 col-md-6 col-lg-5">
                <div class="slider slider-nav">
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/8.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/6.jpg" alt="">
                    </div>
                    <div class="client-thumbnail">
                        <img src="./img/bg-img/7.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Client Feedback Area End ***** -->
<!-- ***** Blog Area Start ***** -->
<!--<section class="mona-blog-area mb-50 section-padding-80-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Hair Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="/Search/Index?id=12"><img src="~/img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>
            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/1.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">What Curling Irons Are The Best Ones</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="700ms">
                    <div class="post-thumbnail">
                        <a href="#"><img src="./img/bg-img/2.jpg" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="#" class="post-title">How To Save Money On Beauty Products</a>
                        <span class="post-date">30 Aug 2018</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>-->
<!-- ***** Blog Area End ***** -->

@section HomeIndex{
    <script>


        $(document).ready(function () {
            /*$('#Search-Button').click(function () { 查詢資料() });*/
            $('.tag_search').tokenize2();

        })



        function 查詢資料() {
            var test = $('.tag_search').data('tokenize2').toArray().join(', ');
            var 城市 = $('.location-dropdown #fCity option:selected').val();
            var 區域 = $('.location-dropdown #fArea option:selected').val();
            console.log(`${test},${城市},${區域}`)
            $.post(
                '/Search/Search',
                { "test": test, "City": 城市, "Area": 區域 },
                function (data) {

                },
                "json"
            )
        }

        /*location jquery*/
            //$(".location-menu li a").click(function () {

            //    $(this).parents(".location-dropdown").find('#dropdownMenuButton').text($(this).text());
            //    $(this).parents(".location-dropdown").find('#dropdownMenuButton').val($(this).text());

            //});

            //autoComplete




            //用Ajax連接資料庫
             //$('.tag_search').tokenize2({
             //    dataSource: function (term, object)
             //    {
             //        $.ajax({
             //            url: "/Home/test",
             //            type: 'post',
             //            data: { "search": term, "start": 0 },
             //            dataType: 'json',
             //            success: function (data) {

             //            }
             //        })
             //    }
             //});

            //footer

    </script>

}
