<<<<<<< HEAD
﻿<!-- ***** login Area Start ***** -->
<div class="log-in-area col-10 col-md-8">
    <div class="log-in-form">
        <form class="row row-cols-lg-auto justify-content-center mt-5" method="post">
            <div class="col-10 mb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">ID</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                    <input type="text" class="form-control" name="fAcc" id="fAcc" placeholder="請輸入帳號">
                </div>
=======
﻿<!--***** login Area start****--->
<section id="login-area" class="">
    <div class="container">
        <div class="row login-area">
            <img class="login-logo" src="img/ad-img/loginlogo.png" alt="">
            <a href="#"><img src="img/ad-img/closebtn.png" class="login-closebtn"></a>
            <div class="row">
                <form action="#" method="POST">
                    <ul>
                        <li>
                            <div>
                                <input type="text" name="txtAcc" id="emailaddress"  maxlength="50" placeholder="請輸入電子信箱" class="login-text" autofocus>
                                <i class="login-pic1">
                                </i>
                            </div>
                        </li>
                        <li>
                            <div>
                                <input type="password" name="txtPwd" id="userpwd"  maxlength="15" placeholder="請輸入您設定的密碼" class="login-text">
                                <i class="login-pic2">
                                </i>
                            </div>
                        <li>
                            <input type="checkbox" id="remember" name="remember" class="login-chk"><b>記住帳號</b>
                            <a href="#">忘記密碼?</a>
                        <li>
                            <input type="submit" class="login-btn" value="登入">
                        </li>
                    </ul>
                </form>
>>>>>>> parent of a3ad69e (登入系統0.3)
            </div>

<<<<<<< HEAD
            <div class="col-10 pb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">password</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                    <input type="password" class="form-control" name="fPwd" id="fPwd" placeholder="請輸入密碼">
                </div>
                <div class="row">
                    <div class="col-6 my-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <label class="form-check-label" for="inlineFormCheck">
                                記住帳號
                            </label>
                        </div>
=======
    </div>
    <div class="col-6 my-3 d-flex flex-row-reverse">
        <a href="#"><i class="far fa-question-circle mr-1"></i>忘記密碼 </a>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn log-in-btn">登入</button>
    </div>
    <div class="col-12 d-flex justify-content-center ">
        <p class="text-danger">@ViewBag.</p>
    </div>
>>>>>>> parent of a3ad69e (登入系統0.3)

                    </div>
                    <div class="col-6 my-3 d-flex flex-row-reverse">
                        <a href="#"><i class="far fa-question-circle mr-1"></i>忘記密碼 </a>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn log-in-btn">登入</button>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="text-danger">@ViewBag.message</p>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ***** login Area End ***** -->
</div>