<!-- ***** login Area Start ***** -->
<div class="log-in-area col-10 col-md-8">
    <div class="log-in-form">
        <form class="row row-cols-lg-auto justify-content-center mt-5">
            <div class="col-10 mb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">ID</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="請輸入帳號">
                </div>
            </div>

            <div class="col-10 pb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">password</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                    <input type="password" class="form-control" id="inlineFormInputGroupUsername" placeholder="請輸入密碼">
                </div>
                <div class="row">
                    <div class="col-6 my-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <label class="form-check-label" for="inlineFormCheck">
                                記住帳號
                            </label>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <input type="password" name="" id="userpwd" value maxlength="15" placeholder="請輸入您設定的密碼" class="login-text">
                                    <i class="login-pic2">
                                    </i>
                                </div>
                            </li>
                            <li>
                                <input type="checkbox" id="remember" name="remember" class="login-chk"><b>記住帳號</b>
                                <a href="#">忘記密碼?</a>
                            </li>
                            <li>
                                <input type="submit" class="login-btn" value="登入">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    

  </section>
<!--***** login Area end*****-->