<div class="log-in-area col-10 col-md-8">
    <div class="log-in-form">
        <form class="row row-cols-lg-auto justify-content-center mt-5" method="post">
            <div class="col-10 mb-3">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">ID</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="far fa-user"></i></div>
                    <input type="text" class="form-control" id="fEmail" name="fEmail" placeholder="請輸入帳號">
                </div>
            </div>

            <div class="col-10 pb-3">
                <label class="visually-hidden" for="">password</label>
                <div class="input-group">
                    <div class="input-group-text"><i class="fas fa-unlock-alt"></i></div>
                    <input type="password" class="form-control" id="fPwd" name="fPwd" placeholder="請輸入密碼">
                </div>
                <div class="row">
                    <div class="col-6 my-3">
                        <ul>
                        <li>
                            <input type="checkbox" id="remember" name="remember" class="login-chk"><b>記住帳號</b>
                            <a href="#">忘記密碼?</a>
                        <li>
                            <input type="submit" class="login-btn" value="登入">
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
